name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.repo_secret }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@13.53.173.3 << 'EOF'
            cd ~/springboot_devops_demo_repo
            git pull origin main
            ./mvnw clean package
            pkill -f 'java' || true
            java -jar target/*.jar &
          EOF

